.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 800px;
  // width: 900px;
  max-width: 100%; // prevents extending beyond screen width
}


